/* h1 {
    /* color: #000000; */
    /* color: #4d6fe0; */
    /* color: rgb(35, 218, 80); */
    /* color: rgba(100, 100, 100, 0.5); 

} */

/* div {
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* div{
    border: 2px solid black;
    position: relative;
    margin-top: 200px;
    margin-left: 30px;
}
.abs{ /* para 2 
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
} */

/* .logo{
    position: fixed;
    top: 0;
    right: 0;
} */

/* .content h1{
    position: sticky;
    top: 0;
    border: 1px solid red;
    background-color: white;
}

.content{
    margin-top: 100px;
} */

body{
    background-image: url(/Images/goku.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}














